.footer,
.push {
  padding-top: 31px;
  background-color: $color-light-gray;
  color: $color-primary;
  font-family: $font-main;
  height: 340px;
  @include md {
    height: 430px;
  }
  @include xs {
    height: 900px;
  }

  // background-color: #232323;
  &-item {
    padding-left: 12px;
    h4 {
      letter-spacing: -1.5px;
      margin-bottom: 17.8px;
    }
    ul {
      padding-left: 0;
      li {
        list-style-type: none;
        margin-bottom: 16px;
      }
      a {
        color: $color-dark;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
  &-bottom {
    text-align: center;
    p {
      margin-top: 20px;
      margin-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;

      a {
        color: $color-dark;
        font-weight: 700;
      }
    }
  }
}
.container-footer {
  width: 1170px;
  margin: auto;
  @include md {
    width: 800px;
  }
}

.footer-top {
  display: grid;
  grid-template-areas: "a1 a2 a3 a4";
  grid-template-columns: repeat(4, 1fr);

  @include md {
    grid-template-areas: "a4 a4 a4" "a1 a2 a3";
    grid-template-columns: repeat(3, 1fr);
  }
  @include xs {
    grid-template-areas: "a4" "a1" "a2" "a3";
    grid-template-columns: 1fr;
  }

  h4 {
    font-weight: bold;
    font-size: 18px;
  }
}
@for $i from 1 through 4 {
  .footer-item:nth-of-type(#{$i}) {
    grid-area: a#{$i};
  }
}

.icons-link {
  display: flex;
  align-self: flex-start;
  justify-content: space-around;
  width: 200px;
  li {
    flex-grow: 1;
    i {
      font-size: 40px;
      &:hover {
        color: $color-primary;
      }
    }
  }
}
