li {
  list-style-type: none;
}
.footer {
  padding-top: 45px;
  color: $color-light;
  background-color: #232323;
  &-item {
    ul {
      padding-left: 0;
    }
    ul a {
      color: #777777;
    }
    a:hover {
      color: $color-light;
    }
  }
  &-bottom {
    text-align: center;
    p {
      margin-top: 20px;
      margin-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }
    p a {
      color: $color-light;
      font-weight: 700;
    }
  }
}
