// .header {
//   margin-bottom: 102px;
// }
.wrapper {
  min-height: 100%;
  margin-bottom: -340px;
  @include md {
    margin-bottom: -430px;
  }
  @include xs {
    margin-bottom: -900px;
  }
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
}
.header-logo {
  align-items: center;
  margin-left: 80px;
  padding: 16.5px 0;

  background-color: $color-light;
}
.header-search {
  margin-right: 77px;
  padding: 44px 0 0;

  .form-control {
    padding-left: 12px;
    padding-top: 12px;
    letter-spacing: 0.88px;
    @include xs {
      display: none;
    }
  }
}
.input-group {
  max-width: 365px;
  margin: auto 0 auto auto;
  .form-control {
    font-size: 14px;
  }
}

.input-group-lg > .search {
  height: 35px;
}

.input-group-lg > .input-group-btn > .btn {
  height: 35px;
  width: 74px;
  @include xs {
    margin-left: 20px;
  }
}
.image-logo {
  margin-left: -5px;
  margin-bottom: 0;
  margin-top: -2px;
  @include xs {
    width: 150px;
    height: auto;
    margin-left: -40px;
    margin-top: 20px;
    margin-bottom: 0;
  }
}
.navbar-collapse {
  justify-content: center !important;
}
.navbar {
  margin-bottom: 92px;
  @include md {
    display: none;
    background-color: white !important;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.sticky + .main {
  padding-top: 150px;
  @include md {
    padding-top: 0px;
  }
}
.navbar-nav {
  display: grid;
  grid-template-areas: "a1 a2 a3 a4 a5 a6 a7 a8";
  grid-template-columns: repeat(8, 1fr);
  margin: -9px;
  float: none;

  @include md {
    grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8";
    grid-template-columns: 1fr;
    gap: 5px;
    width: 100%;
  }
  @include xs {
    grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8";
    grid-template-columns: 1fr;
    gap: 5px;
    width: 100%;
  }
}
@for $i from 1 through 8 {
  .navbar-nav__item:nth-of-type(#{$i}) {
    grid-area: a#{$i};
  }
}

.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  display: block;
  height: 60px;
  line-height: 34px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: black;
  font-weight: bold;
  min-width: 163px;
  text-decoration: none;
  @include md {
    text-align: left;
    padding-left: 20px;
    background-color: $color-light-gray;
  }
  &:hover {
    color: $color-primary !important;
    background-color: #eaecf0 !important;
  }
}
