.film-preview {
  position: relative;
  overflow: hidden;
  ul {
    display: flex;
    justify-content: center;
    li {
      float: none;
      font-size: 1.2rem;
      margin-right: $gap;
      .badge {
        font-size: 15.36px;
        margin-left: $gap / 3;
      }
    }
  }
  .embed-responsive {
    border: 1px solid #e3e3e3;
    border-bottom: none;
  }
  &-well {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.film-description,
.film-reviews,
.film-commit {
  position: relative;
  overflow: hidden;
}
.film-commit-btn {
  float: right;
}
